{% extends "framework.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/abuse_info.css">
<link rel="stylesheet" href="../static/framework.css">
{% endblock %}

{% block routes %}
<a href = {{ url_for('consulation', referral_id = referral_id) }} class="individual_case_tab">consultation</a>
<a href = {{ url_for('client', referral_id = referral_id) }} class="individual_case_tab">client </a>
    <a href = {{ url_for('client_information', referral_id = referral_id) }} class="individual_case_tab">client information</a>
    <a href = {{ url_for('center_outcomes', referral_id = referral_id) }} class="individual_case_tab">outcome</a>
    <a href = {{ url_for('abuse_info', referral_id = referral_id) }} class="individual_case_tab">abuse info</a>
    <a href = {{ url_for('abuser', referral_id = referral_id) }} class="individual_case_tab">abuser</a>
    <a href = {{ url_for('narrative', referral_id = referral_id) }} class="individual_case_tab">narrative</a>
    <a href = {{ url_for('notes', referral_id = referral_id) }} class="individual_case_tab">notes</a>
{% endblock %}
{% block content %}
<form method="POST">
<div class="abuse_info_container">
    <div class="first_container">
        <div class="first_container_element"><label style="font-weight: bold;">Other Agencies Involved</label></div> <textarea name="ad_InvAgencies">{{ad_InvAgencies}}</textarea>
        <div class="first_container_element"><label style="font-weight: bold;">Reporting Party</label></div><select name="ad_RptingParty">
            <option value="" {% if ad_RptingParty == '' %} selected {% endif %}></option>
            <option value="Community partner" {% if ad_RptingParty == 'Community partner' %} selected {% endif %}>Community partner</option>
            <option value="Family/Friend" {% if ad_RptingParty == 'Family/Friend' %} selected {% endif %}>Family/Friend</option>
            <option value="Financial Institution" {% if ad_RptingParty == 'Financial Institution' %} selected {% endif %}>Financial Institution</option>
            <option value="Unknown" {% if ad_RptingParty == 'Unknown' %} selected {% endif %}>Unknown</option>
        </select>
        <div class="first_container_element"><label style="font-weight: bold;">Others With Knowledge of Abuse</label></div> <textarea name="ad_Others" rows="7">{{ad_Others}}</textarea>
    </div>

    <div class="types_of_abuse_overall_container">
        <div style="font-weight:bold">Types of Abuse (Check all that apply)</div>
    <div class="types_of_abuse_container">
        <div><input type="checkbox" name="ad_Abandon" {% if ad_Abandon == 1 %} checked {% endif %}> <label>Abandonment</label></div>
        <div><input type="checkbox" name="ad_FinanOth" {% if ad_FinanOth == 1 %} checked {% endif %}> <label>Financial - Other</label></div>
        <div><input type="checkbox" name="ad_SelfNeglec" {% if ad_SelfNeglec == 1 %} checked {% endif %}> <label>Self-Neglect</label></div>
        <div> <div><input type="checkbox" name="ad_PhyCnstDpr" {% if ad_PhyCnstDpr == 1 %} checked {% endif %}> <label>Physical - Constraint or Deprevation</label></div></div>
        <div> <div><input type="checkbox" name="ad_Abduction" {% if ad_Abduction == 1 %} checked {% endif %}> <label>Abduction</label></div></div>
        <div> <div><label> Est. loss $ </label><input name="ad_FinanLoss" value={{ad_FinanLoss}}> </div></div>
        <div> <div><input type="checkbox" name="ad_NeglectOth" {% if ad_NeglectOth == 1 %} checked {% endif %}> <label>Neglect by Others</label></div></div>
        <div> <div><input type="checkbox" name="ad_PhyMedicat" {% if ad_PhyMedicat == 1 %} checked {% endif %}> <label>Physical - Medication</label></div></div>
        <div> <div><input type="checkbox" name="ad_Emotional" {% if ad_Emotional == 1 %} checked {% endif %}> <label>Emotional</label></div></div>
        <div> <div><input type="checkbox" name="ad_Isolation" {% if ad_Isolation == 1 %} checked {% endif %}> <label>Isolation</label></div></div>
        <div> <div><input type="checkbox" name="ad_PhyAssault"  {% if ad_PhyAssault == 1 %} checked {% endif %}> <label>Physical - Assault/Battery</label></div></div>
        <div> <div><input type="checkbox" name="ad_UndueInflu" {% if ad_UndueInflu == 1 %} checked {% endif %}> <label>Under Influence</label></div></div>
        <div> <div><input type="checkbox" name="ad_FinanRlEst" {% if ad_FinanRlEst == 1 %} checked {% endif %}> <label>Financial - Real Estate</label></div></div>
        <div> <div><input type="checkbox" name="ad_Sexual" {% if ad_Sexual == 1 %} checked {% endif %}> <label>Sexual</label></div></div>
        <div> <div><input type="checkbox" name="ad_PhyChemRst" {% if ad_PhyChemRst == 1 %} checked {% endif %}> <label>Physical - Chemical Restraint</label></div></div>
        <div> <div><input type="checkbox" name="ad_Other" {% if ad_Other == 1 %} checked {% endif %}> <label>Other</label></div></div>
        
    </div>
</div>
    <div id="NarrativeContainer">
        <div id="narrative_header">Narrative (From Referral)</div>
        <div style="padding: 0 0 40px 10px;">
        <textarea rows="25" cols="145" name="ad_Narrative" >{{ad_Narrative}}</textarea></div>
    </div>
</div>
<button>this goes here</button>
</form>
{% endblock %}