{% extends "framework.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/clientInformation.css">
<link rel="stylesheet" href="../static/framework.css">
{% endblock %}
{% block content %}
<div class="client_information_container">
    <!-- First Name -->
    <div class="text_with_input_container">
        <div>
            First Name
        </div>
        <input value="{{sampleInfo}}" class="text_input_design">
    </div>
     <!-- Last Name -->
     <div class="text_with_input_container">
        <div>
            Last Name
        </div>
        <input value="{{sampleInfo}}" class="text_input_design">
    </div>
    <!-- Organization -->
    <div class="text_with_input_container">
        <div>
            Organization
        </div>
        <input class="text_input_design">
    </div>
    <!-- Relationship to Client -->
    <div class="text_with_input_container">
        <div>
            Relationship to Client
        </div>
        <select name="selectName" class="dropdown_design">
            <option value="Spouse/Significant Other">Spouse/Significant Other</option>
            <option value="Child(Son)">Child(Son)</option>
            <option value="Child(Daughter)">Child(Daughter)</option>
            <option value="Other Family">Other Family</option>
            <option value="Non-family but well-known to clinet">Non-family but well-known to clinet</option>
            <option value="Stanger">Stanger</option>
        </select>
    </div>
     <!-- Primary Caregiver -->
     <div class="text_with_input_container">
        <div>
            Primary Caregiver
        </div>
        <div class="container">
            <form>
                <label class="radio-inline">
                  <input type="radio" name="optradio" checked>Yes
                </label>
                <label class="radio-inline">
                  <input type="radio" name="optradio">No
                </label>
              </form>
        </div>
    </div>
    <!-- Live with Client -->
    <div class="text_with_input_container">
        <div>
            Live with Client
        </div>
        <div class="container">
            <form>
                <label class="radio-inline">
                  <input type="radio" name="optradio" checked>Yes
                </label>
                <label class="radio-inline">
                  <input type="radio" name="optradio">No
                </label>
              </form>
        </div>
    </div>
    <!-- Mental Illness -->
    <div class="text_with_input_container">
        <div>
            Mental Illness
        </div>
        <select name="selectName" class="dropdown_design">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
            <option value="Suspected - Undiagnosed">Suspected - Undiagnosed</option>
            <option value="Unknown">Unknown</option>
        </select>
    </div>
     <!-- If Yes (Describle) -->
     <div class="text_with_input_container">
        <div>
            If Yes (Describle)
        </div>
        <input class="text_input_design">
    </div>
    <!-- Addition - Alcohol -->
    <div class="text_with_input_container">
        <div>
            Live with Client
        </div>
        <div class="container">
            <form>
                <label class="radio-inline">
                  <input type="radio" name="optradio" checked>Yes
                </label>
                <label class="radio-inline">
                  <input type="radio" name="optradio">No
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio">Unknown
                  </label>
              </form>
        </div>
    </div>
     <!-- Addition - Prescription -->
     <div class="text_with_input_container">
        <div>
            Addition - Prescription
        </div>
        <div class="container">
            <form>
                <label class="radio-inline">
                  <input type="radio" name="optradio" checked>Yes
                </label>
                <label class="radio-inline">
                  <input type="radio" name="optradio">No
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio">Unknown
                  </label>
              </form>
        </div>
    </div>
    <!-- Addition - Illicit Drugs -->
    <div class="text_with_input_container">
        <div>
            Addition - Illicit Drugs
        </div>
        <div class="container">
            <form>
                <label class="radio-inline">
                  <input type="radio" name="optradio" checked>Yes
                </label>
                <label class="radio-inline">
                  <input type="radio" name="optradio">No
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio">Unknown
                  </label>
              </form>
        </div>
    </div>
     <!-- Addiction - Other -->
     <div class="text_with_input_container">
        <div>
            Addiction - Other
        </div>
        <input class="text_input_design">
    </div>
    <!-- Age/Decade of Life -->
    <div class="text_with_input_container">
        <div>
            Age/Decade of Life
        </div>
        <input class="text_input_design">
    </div>
    <!-- Date of Birth -->
    <div class="text_with_input_container">
        <div>
            Date of Birth
        </div>
        <input class="text_input_design">
    </div>
     <!-- Gender -->
     <div class="text_with_input_container">
        <div>
            Gender
        </div>
        <select name="selectName" class="dropdown_design">
            <option value="Female">Female</option>
            <option value="Male">Male</option>
            <option value="Transgendered">Transgendered</option>
            <option value="Unknown">Unknown</option>
        </select>
    </div>
     <!-- Ethnicity -->
     <div class="text_with_input_container">
        <div>
            Ethnicity
        </div>
        <select name="selectName" class="dropdown_design">
            <option value="African American">African American</option>
            <option value="American Indian/Native Alaskan">American Indian/Native Alaskan</option>
            <option value="Asian/Pacific Islander">Asian/Pacific Islander</option>
            <option value="Caucasian, non-Hispanic">Caucasian, non-Hispanic</option>
            <option value="Hispanic">Hispanic</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <!-- Language -->
    <div class="text_with_input_container">
        <div>
            Language
        </div>
        <input class="text_input_design">
    </div>
    <!-- Translation / Communication Needs -->
    <div class="text_with_input_container">
        <div>
            Translation / Communication Needs
        </div>
        <textarea rows="3" class="text_input_design"></textarea>
    </div>
    <!-- Address -->
    <div class="text_with_input_container">
        <div>
            Address
        </div>
        <input class="text_input_design">
    </div>
    <!-- City -->
    <div class="text_with_input_container">
        <div>
            City
        </div>
        <input class="text_input_design">
    </div>
    <!-- Zip -->
    <div class="text_with_input_container">
        <div>
            Zip
        </div>
        <input class="text_input_design">
    </div>
    <!-- Phone -->
    <div class="text_with_input_container">
        <div>
            Phone
        </div>
        <input class="text_input_design">
    </div>
</div>
</div>
{% endblock %}