{% extends "framework.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/clientInformation.css">
<link rel="stylesheet" href="../static/framework.css">
{% endblock %}

{% block routes %}
<a href = {{ url_for('consulation', referral_id = referral_id) }} class="individual_case_tab">consultation</a>
<a href = {{ url_for('client', referral_id = referral_id) }} class="individual_case_tab">client </a>
    <a href = {{ url_for('client_information', referral_id = referral_id) }} class="individual_case_tab">client information</a>
    <a href = {{ url_for('center_outcomes', referral_id = referral_id) }} class="individual_case_tab">outcome</a>
    <a href = {{ url_for('abuse_info', referral_id = referral_id) }} class="individual_case_tab">abuse info</a>
    <a href = {{ url_for('abuser', referral_id = referral_id) }} class="individual_case_tab">abuser</a>
    <a href = {{ url_for('narrative', referral_id = referral_id) }} class="individual_case_tab">narrative</a>
{% endblock %}
{% block content %}
<!-- Client Banner -->
<div class="client_information_banner_container">
    <div class="client_information_banner">Section 4 - Abuser Basic Info</div>
    </div>
    <form method="POST">
<div class="client_information_container">
    <!-- First Name -->
    <div class="text_with_input_container">
        <div>
            First Name
        </div>
        <input name = su_name_first value="{{su_name_first}}" class="text_input_design">
    </div>
     <!-- Last Name -->
     <div class="text_with_input_container">
        <div>
            Last Name
        </div>
        <input name = su_name_last value="{{su_name_last}}" class="text_input_design">
    </div>
    <!-- Organization -->
    <div class="text_with_input_container">
        <div>
            Organization
        </div>
        <input name = su_organization value="{{su_organization}}" class="text_input_design">
    </div>
    <!-- Relationship to Client -->
    <div class="text_with_input_container">
        <div>
            Relationship to Client
        </div>
        <select name="su_relationship" class="dropdown_design">
            <option {% if su_relationship == 'Spouse/Significant Other' %} selected {% endif %} value="Spouse/Significant Other">Spouse/Significant Other</option>
            <option {% if su_relationship == 'Child(Son)' %} selected {% endif %} value="Child(Son)">Child(Son)</option>
            <option {% if su_relationship == 'Child(Daughter)' %} selected {% endif %} value="Child(Daughter)">Child(Daughter)</option>
            <option {% if su_relationship == 'Other Family' %} selected {% endif %} value="Other Family">Other Family</option>
            <option {% if su_relationship == 'Non-family but well-known to clinet' %} selected {% endif %} value="Non-family but well-known to clinet">Non-family but well-known to clinet</option>
            <option {% if su_relationship == 'Stranger' %} selected {% endif %} value="Stranger">Stranger</option>
        </select>
    </div>
     <!-- Primary Caregiver -->
     <div class="text_with_input_container">
        <div>
            Primary Caregiver
        </div>
        <div class="container">
                <label class="radio-inline">
                  <input type="checkbox" name="su_PrimCrGvYES" value="su_PrimCrGvYES" {% if su_PrimCrGvYES == 1 %} checked {% endif %}>YES
                </label>
                <label class="radio-inline">
                  <input type="checkbox" name="su_PrimCrGvNO" value="su_PrimCrGvNO" {% if su_PrimCrGvNO == 1 %} checked {% endif %}>NO
                </label>   
        </div>
    </div>
    <!-- Live with Client -->
    <div class="text_with_input_container">
        <div>
            Live with Client
        </div>
        <div class="container">          
                <label class="radio-inline">
                    <input type="checkbox" name="su_LivesWthYES" value="su_LivesWthYES" {% if su_LivesWthYES == 1 %} checked {% endif %}>YES
                </label>
                <label class="radio-inline">
                    <input type="checkbox" name="su_LivesWthNO" value="su_LivesWthNO" {% if su_LivesWthNO == 1 %} checked {% endif %}>NO
                </label>  
        </div>
    </div>
    <!-- Mental Illness --
    <div class="text_with_input_container">
        <div>
            Mental Illness
        </div>
        <select name="su_mental_ill" class="dropdown_design">
            <option {% if su_mental_ill == 'Yes' %} selected {% endif %} value="Yes">Yes</option>
            <option {% if su_mental_ill == 'No' %} selected {% endif %} value="No">No</option>
            <option {% if su_mental_ill == 'Suspected - Undiagnosed' %} selected {% endif %} value="Suspected - Undiagnosed">Suspected - Undiagnosed</option>
            <option {% if su_mental_ill == 'Unknown' %} selected {% endif %} value="Unknown">Unknown</option>
        </select>
    </div>
     <!-- If Yes (Describle) -->
     <div class="text_with_input_container">
        <div>
            If Yes (Describle)
        </div>
        <input name = su_mental_ill_desc value="{{su_mental_ill_desc}}" class="text_input_design">
    </div>
    <!-- Addiction - Alcohol -->
    <div class="text_with_input_container">
        <div>
            Addiction - Alcohol
        </div>
        <div class="container">   
                <label class="radio-inline">
                    <input type="checkbox" name="su_AdAlchlYES" value="su_AdAlchlYES" {% if su_AdAlchlYES == 1 %} checked {% endif %}>YES
                </label>
                <label class="radio-inline">
                    <input type="checkbox" name="su_AdAlchlNO" value="su_AdAlchlNO" {% if su_AdAlchlNO == 1 %} checked {% endif %}>NO
                </label>
                <label class="radio-inline">
                    <input type="checkbox" name="su_AdAlchlUNK" value="su_AdAlchlUNK" {% if su_AdAlchlUNK == 1 %} checked {% endif %}>Unknown
                  </label>
        </div>
    </div>
     <!-- Addiction - Prescription -->
     <div class="text_with_input_container">
        <div>
            Addiction - Prescription
        </div>
        <div class="container">
                <label class="radio-inline">
                    <input type="checkbox" name="su_AdPrepYES" value="su_AdPrepYES" {% if su_AdPrepYES == 1 %} checked {% endif %}>YES
                </label>
                <label class="radio-inline">
                    <input type="checkbox" name="su_AdPrepNO" value="su_AdPrepNO" {% if su_AdPrepNO == 1 %} checked {% endif %}>NO
                </label>
                <label class="radio-inline">
                    <input type="checkbox" name="su_AdPrepUNK" value="su_AdPrepUNK" {% if su_AdPrepUNK == 1 %} checked {% endif %}>Unknown
                  </label> 
        </div>
    </div>
    <!-- Addiction - Illicit Drugs -->
    <div class="text_with_input_container">
        <div>
            Addiction - Illicit Drugs
        </div>
        <div class="container"> 
                <label class="radio-inline">
                    <input type="checkbox" name="su_AdDrugsYES" value="su_AdDrugsYES" {% if su_AdDrugsYES == 1 %} checked {% endif %}>YES
                </label>
                <label class="radio-inline">
                    <input type="checkbox" name="su_AdDrugsNO" value="su_AdDrugsNO" {% if su_AdDrugsNO == 1 %} checked {% endif %}>NO
                </label>
                <label class="radio-inline">
                    <input type="checkbox" name="su_AdDrugsUNK" value="su_AdDrugsUNK" {% if su_AdDrugsUNK == 1 %} checked {% endif %}>Unknown
                  </label>
        </div>
    </div>
     <!-- Addiction - Other -->
     <div class="text_with_input_container">
        <div>
            Addiction - Other
        </div>
        <input name = su_AdOther value="{{su_AdOther}}" class="text_input_design">
    </div>
    <!-- Age/Decade of Life -->
    <div class="text_with_input_container">
        <div>
            Age/Decade of Life
        </div>
        <input name = su_age value="{{su_age}}" class="text_input_design">
    </div>
    <!-- Date of Birth -->
    <div class="text_with_input_container">
        <div>
            Date of Birth
        </div>
        <input name = su_DOB value="{{su_DOB}}" class="text_input_design">
    </div>
     <!-- Gender -->
     <div class="text_with_input_container">
        <div>
            Gender
        </div>
        <select name="su_gender" class="dropdown_design">
            <option {% if su_gender == 'Female' %} selected {% endif %} value="Female">Female</option>
            <option {% if su_gender == 'Male' %} selected {% endif %} value="Male">Male</option>
            <option {% if su_gender == 'Transgendered' %} selected {% endif %} value="Transgendered">Transgendered</option>
            <option {% if su_gender == 'Unknown' %} selected {% endif %} value="Unknown">Unknown</option>
        </select>
    </div>
     <!-- Ethnicity -->
     <div class="text_with_input_container">
        <div>
            Ethnicity
        </div>
        <select name="su_ethnicity" class="dropdown_design">
            <option value="African American" {% if su_ethnicity == 'African American' %} selected {% endif %} >African American</option>
            <option value="American Indian/Native Alaskan" {% if su_ethnicity == 'American Indian/Native Alaskan' %} selected {% endif %} >American Indian/Native Alaskan</option>
            <option value="Asian/Pacific Islander" {% if su_ethnicity == 'Asian/Pacific Islander' %} selected {% endif %} >Asian/Pacific Islander</option>
            <option value="Caucasian, non-Hispanic" {% if su_ethnicity == 'Caucasian, non-Hispanic' %} selected {% endif %}>Caucasian, non-Hispanic</option>
            <option value="Hispanic" {% if su_ethnicity == 'Hispanic' %} selected {% endif %}>Hispanic</option>
            <option value="Other" {% if su_ethnicity == 'Other' %} selected {% endif %}>Other</option>
        </select>
    </div>
    <!-- Language -->
    <div class="text_with_input_container">
        <div>
            Language
        </div>
        <input name = "su_language" value="{{su_language}}" class="text_input_design">
    </div>
    <!-- Translation / Communication Needs -->
    <div class="text_with_input_container">
        <div>
            Translation / Communication Needs
        </div>
        <textarea rows="3" class="text_input_design" name = "su_TransComm">{{su_TransComm}}</textarea>
    </div>
    <!-- Address -->
    <div class="text_with_input_container">
        <div>
            Address
        </div>
        <input name = "su_address" value="{{su_address}}" class="text_input_design">
    </div>
    <!-- City -->
    <div class="text_with_input_container">
        <div>
            City
        </div>
        <input name = "su_city" value="{{su_city}}" class="text_input_design">
    </div>
    <!-- Zip -->
    <div class="text_with_input_container">
        <div>
            Zip
        </div>
        <input name = "su_zip" value="{{su_zip}}" class="text_input_design">
    </div>
    <!-- Phone -->
    <div class="text_with_input_container">
        <div>
            Phone
        </div>
        <input name = "su_phone" value="{{su_phone}}" class="text_input_design">
    </div>
    <!-- Submit -->
    <br>
    <div class="text_with_input_container">
        <div>           
        </div>
        <button type="submit">Save Data</button>
</form>
</div>
</div>
{% endblock %}