{% extends "framework.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/notes.css">
<link rel="stylesheet" href="../static/framework.css">
{% endblock %}

{% block routes %}
<a href = {{ url_for('consulation', referral_id = referral_id) }} class="individual_case_tab">Consultation</a>
<a href = {{ url_for('client', referral_id = referral_id) }} class="individual_case_tab">Client </a>
<a href = {{ url_for('client_information', referral_id = referral_id) }} class="individual_case_tab">Client Info</a>
<a href = {{ url_for('center_outcomes', referral_id = referral_id) }} class="individual_case_tab">Outcome</a>
<a href = {{ url_for('abuse_info', referral_id = referral_id) }} class="individual_case_tab">Abuse Info</a>
<a href = {{ url_for('abuser', referral_id = referral_id) }} class="individual_case_tab">Abuser</a>
<a href = {{ url_for('narrative', referral_id = referral_id) }} class="individual_case_tab">Narrative</a>
<a href = {{ url_for('notes', referral_id = referral_id) }} class="individual_case_tab">Notes</a>
<a href = {{ url_for('referring_agency', referral_id = referral_id) }} class="individual_case_tab">Referring Agency</a>
<a href = {{ url_for('attachments', referral_id = referral_id) }} class="individual_case_tab">Attachments</a>
<a href = {{ url_for('case_info', referral_id = referral_id) }} class="individual_case_tab">Case Info</a>
{% endblock %}
{% block content %}
<style>
    #attachments {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    #attachments td, #attachments th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
    #attachments tr:nth-child(even){background-color: white;}
    
    
    
    #attachments th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      
      background-color: white;;
      color:black;
    }
    </style>
<!--  Click choose file to upload-->
<div class="client_information_container">
    
    <div class="text_with_input_container">
        <div>
            Click choose file to upload
            <form method="POST" action="" enctype="multipart/form-data">
              <p><input type="file" name="file"></p>
              <p><input type="submit" value="Upload" name="submit"></p>
            </form>
            <pre>{{content}}</pre>
        </div>
        <br>
        <br>
    
    
    <br>
    <br/>
    <br/>

    <table id="attachments">
        <tr>
          <th >File <input type="text" id="fname" name="fname"></th>
          <th>Date <input type="text" id="fname" name="fname"></th>
          
        </tr>
        <tr>
          <td colspan="2"><textarea name="w3review" rows="10" cols="100"></textarea >
          </td>
        </tr>
      </table>
    </div>
    
</div>
{% endblock %}