{% extends "framework.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/case_info.css">
<link rel="stylesheet" href="../static/framework.css">
{% endblock %}

{% block routes %}
    <a href = {{ url_for('consulation', referral_id = referral_id) }} class="individual_case_tab">consultation</a>
    <a href = {{ url_for('client', referral_id = referral_id) }} class="individual_case_tab">client </a>
    <a href = {{ url_for('client_information', referral_id = referral_id) }} class="individual_case_tab">client information</a>
    <a href = {{ url_for('center_outcomes', referral_id = referral_id) }} class="individual_case_tab">outcome</a>
    <a href = {{ url_for('abuse_info', referral_id = referral_id) }} class="individual_case_tab">abuse info</a>
    <a href = {{ url_for('abuser', referral_id = referral_id) }} class="individual_case_tab">abuser</a>
    <a href = {{ url_for('narrative', referral_id = referral_id) }} class="individual_case_tab">narrative</a>
    <a href = {{ url_for('notes', referral_id = referral_id) }} class="individual_case_tab">notes</a>
    <a href = {{ url_for('referring_agency', referral_id = referral_id) }} class="individual_case_tab">referring agency</a>
    <a href = {{ url_for('attachments', referral_id = referral_id) }} class="individual_case_tab">attachments</a>
    <a href = {{ url_for('case_info', referral_id = referral_id) }} class="individual_case_tab">case info</a>
{% endblock %}

{% block content %}
<!-- Client Information Banner -->
<div class="client_information_banner_container">
<div class="client_information_banner">Case Information</div>
</div>
<form method="POST">
<div class="case_info_container">
    <div>
        <label>Urgent Status</label> <input type="checkbox" name="status_urgent" {% if status_urgent == 1 %} checked {% endif %}>
        <label>Routine Status</label> <input type="checkbox" name="status_routine" {% if status_routine == 1 %} checked {% endif %}>
        <label>Case Closed</label> <input type="checkbox" name="case_closed" {% if case_closed == 1 %} checked {% endif %}>
        <label>Case Date</label> <input type="date" value={{case_date}} name="case_date">
        <label>Case Number</label> <input type="text" name="case_number" value={{case_number}}>
    </div>
</div>
<button>this is the button</button>
</form>
{% endblock %}

{% block content2 %}
<div>oh yeah it's working now</div>
{% endblock %}