{% extends "framework.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/caseSummary.css">
<link rel="stylesheet" href="../static/framework.css">
{% endblock %}

{% block routes %}
    <a href = {{ url_for('consulation', referral_id = referral_id) }} class="individual_case_tab">consultation</a>
    <a href = {{ url_for('client', referral_id = referral_id) }} class="individual_case_tab">client </a>
    <a href = {{ url_for('client_information', referral_id = referral_id) }} class="individual_case_tab">client information</a>
    <a href = {{ url_for('center_outcomes', referral_id = referral_id) }} class="individual_case_tab">outcome</a>
    <a href = {{ url_for('abuse_info', referral_id = referral_id) }} class="individual_case_tab">abuse info</a>
    <a href = {{ url_for('abuser', referral_id = referral_id) }} class="individual_case_tab">abuser</a>
    <a href = {{ url_for('narrative', referral_id = referral_id) }} class="individual_case_tab">narrative</a>
    <a href = {{ url_for('notes', referral_id = referral_id) }} class="individual_case_tab">notes</a>
    <a href = {{ url_for('referring_agency', referral_id = referral_id) }} class="individual_case_tab">referring agency</a>
    <a href = {{ url_for('attachments', referral_id = referral_id) }} class="individual_case_tab">attachments</a>
    <a href = {{ url_for('case_info', referral_id = referral_id) }} class="individual_case_tab">case info</a>
{% endblock %}

{% block content %}

    
<div class = "centerOnPrintedPage">
    
    <div class="container" >
        
        <div class="text_with_output_container_1000">
            <div class = "text_header">
                Case Summary - {{name}}
            </div>
        </div>
        <div class = "noPrint">
            <div class="text_with_output_container_1000">
                <p align="right">
                    <button onclick="window.print();" class = "button"  >Print</button>
                  </p>
                </div>
        </div>
        
        <div class = "section">
            <div class="text_with_output_container_1000">
                <div>
                    Suspect First Name, Last Name
                </div>
                <br>
                <br>
                    <output name = "suspectname" class="text_output_design">{{name}}</output>
            </div>
        </div>
        

        <div class = "section">
            <div class="text_with_output_container_1000">
                <div>
                    Meeting/Case Notes
                </div>
            </div>
            <hr class="line">

            {% for note in notes %} 
            <div class="text_with_output_container_25p">
                <div>
                    Date
                </div>
                <output name = "Date" class="text_output_design">{{note.date}}</output>
                <div></div>
                <div>
                    Presenter(s)/Updated By
                </div>
                <output name = "presenter" class="text_output_design">{{note.presenter}}</output>
                
                
            </div>
            
            <div class="text_with_output_container_1000">
                Narrative/Case Note
            </div>

            <div class="text_with_output_container_1000">
     
              
               <table class="table">
                <tbody>                   
                      <tr>                        
                          <td>{{note.meeting_note}}</td>
                      </tr>
                </tbody>
              </table>

                <!-- <output name = "notes" class="text_output_design">{{notes}}</output> -->
            </div>
            {% endfor %}
        </div>
    
        <div class = "section">
            <div class="text_with_output_container_1000">
                <div>
                    Goal Description
                </div>
                <br>
                <table class="table">
                <tbody>
                {% if goal %}
                  {% for g in goal %}         
                      <tr>                        
                          <td>{{g[0]}}</td>
                      </tr>
                  {% endfor %}
                {% else %} 
                    <!-- <tr>                        
                        <td>No data for Goal Description</td>
                    </tr> -->
                {% endif%}
                </tbody>
              </table>
                 
            </div>
        </div>
    
        
        <div class = "section">
            <div class="text_with_output_container_1000">
                <div>
                    Recommendations
                </div>
                
                <br>
                <table class="table">
                    <tbody>
                   
                    {% if rcmd %}
                      {% for r in rcmd %}         
                          <tr>       
                              <td>
                                <div class = "text_with_output_container_rcmd">
                                    <div>
                                        Action Step
                                    </div>
                                    <output class = "text_output_design">{{r.ActionStep}}</output>
                                    <div></div>
                                    <div>Followup Date</div>
                                    <output class = "text_output_design">{{r.followupDate}}</output>
                                </div>
                                <div class = "text_with_output_container_rcmd">
                                  <div>
                                      Person Responsible
                                  </div>
                                  <output class = "text_output_design">{{r.PersonResponsilbe}}</output>
                                    <div></div>
                                  <div>Status</div>
                                  <output class = "text_output_design">{{r.status}}</output>
                                 </div>
                              </td>
                              
                              
                          </tr>
                      {% endfor %}
                    {% else %}
                    <!-- <tr>                        
                        <td>No data for Recommendations</td>
                    </tr> -->
                    {% endif %}
                    </tbody>
                  </table>
          
            </div>
        </div>

        
    </div>
</div>


</div>
{% endblock %}