{% extends "framework.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/centerOutcomes.css">
<link rel="stylesheet" href="../static/framework.css">
{% endblock %}
{% block content %}
<div class="center_outcome_container">
   <div class="conservatorship">

      <div>Conservatorship</div>
      <div>Type of Conservatorship</div>
      <div></div>
      <div><input type="checkbox"> <label>Probate Conservatorship</label></div>
      <div> <label>Public Guardian</label> <input type="checkbox"></div>
      <div><label>Extent of Conservatorship</label> <select name="cars" id="cars">
         <option value="volvo">Volvo</option>
         <option value="saab">Saab</option>
         <option value="mercedes">Mercedes</option>
         <option value="audi">Audi</option>
      </select></div>
      <div><input type="checkbox"> <label>LPS Conservatorship</label></div>
      <div><label>Private</label> <select name="cars" id="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
         </select></div>
      <div><label>Name of Conservator</label> <input></div>
      <div><input type="checkbox"> <label>Temporary Conservatorship</label></div>
      <div><label>Conservator is a SA</label> <input type="checkbox"></div>

   </div>
</div>

{% endblock %}