{% extends "framework.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/clientInformation.css">
<link rel="stylesheet" href="../static/framework.css">
{% endblock %}

{% block routes %}
<a href = {{ url_for('consulation', referral_id = referral_id) }} class="individual_case_tab">consultation</a>
<a href = {{ url_for('client', referral_id = referral_id) }} class="individual_case_tab">client </a>
    <a href = {{ url_for('client_information', referral_id = referral_id) }} class="individual_case_tab">client information</a>
    <a href = {{ url_for('center_outcomes', referral_id = referral_id) }} class="individual_case_tab">outcome</a>
    <a href = {{ url_for('abuse_info', referral_id = referral_id) }} class="individual_case_tab">abuse info</a>
    <a href = {{ url_for('abuser', referral_id = referral_id) }} class="individual_case_tab">abuser</a>
    <a href = {{ url_for('narrative', referral_id = referral_id) }} class="individual_case_tab">narrative</a>
    <a href = {{ url_for('notes', referral_id = referral_id) }} class="individual_case_tab">notes</a>
{% endblock %}

{% block content %}
<!-- Client Banner -->
<div class="client_information_banner_container">
    <div class="client_information_banner">Section 2 - Client Basic Info</div>
    </div>
    <form method="POST">
<div class="client_information_container">
    <!-- First Name -->
    <div class="text_with_input_container">
        <div>
            First Name
        </div>
        <input name = "cl_name_first" value="{{cl_name_first}}" class="text_input_design">
    </div>
     <!-- Last Name -->
     <div class="text_with_input_container">
        <div>
            Last Name
        </div>
        <input name = "cl_name_last" value="{{cl_name_last}}" class="text_input_design">
    </div>
    <!-- Age -->
    <div class="text_with_input_container">
        <div>
            Age
        </div>
        <input name = "cl_age" value="{{cl_age}}" class="text_input_design">
    </div>
    <!-- Date of Birth -->
    <div class="text_with_input_container">
        <div>
            Date of Birth
        </div>
        <input name = "cl_DOB" value="{{cl_DOB}}" class="text_input_design">
    </div>
    <!-- Language -->
    <div class="text_with_input_container">
        <div>
            Language
        </div>
        <input name = "cl_language" value="{{cl_language}}" class="text_input_design">
    </div>
    <!-- Translation / Communication Needs -->
    <div class="text_with_input_container">
        <div>
            Translation / Communication Needs
        </div>
        <textarea rows="3" class="text_input_design" name = "cl_TransComm">{{cl_TransComm}}</textarea>
    </div>
    <!-- Level of Education -->
    <div class="text_with_input_container">
        <div>
            Level of Education
        </div>
        <select name="cl_education" class="dropdown_design">
            <option {% if cl_education == 'unknown' %} selected {% endif %} value="unknown">unknown</option>
            <option {% if cl_education == 'Less than high school' %} selected {% endif %} value="Less than high school">Less than high school</option>
            <option {% if cl_education == 'High school graduate' %} selected {% endif %} value="High school graduate">High school graduate</option>
            <option {% if cl_education == 'Some college/trade school' %} selected {% endif %} value="Some college/trade school">Some college/trade school</option>
            <option {% if cl_education == 'College graduate' %} selected {% endif %} value="College graduate">College graduate</option>
            <option {% if cl_education == 'Advanced degree' %} selected {% endif %} value="Advanced degree">Advanced degree</option>
        </select>
    </div>
    <!-- Ethnicity -->
    <div class="text_with_input_container">
        <div>
            Ethnicity
        </div>
        <select name="cl_ethnicity" class="dropdown_design">
            <option value="African American" {% if cl_ethnicity == 'African American' %} selected {% endif %} >African American</option>
            <option value="American Indian/Native Alaskan" {% if cl_ethnicity == 'American Indian/Native Alaskan' %} selected {% endif %} >American Indian/Native Alaskan</option>
            <option value="Asian/Pacific Islander" {% if cl_ethnicity == 'Asian/Pacific Islander' %} selected {% endif %} >Asian/Pacific Islander</option>
            <option value="Caucasian, non-Hispanic" {% if cl_ethnicity == 'Caucasian, non-Hispanic' %} selected {% endif %}>Caucasian, non-Hispanic</option>
            <option value="Hispanic" {% if cl_ethnicity == 'Hispanic' %} selected {% endif %}>Hispanic</option>
            <option value="Other" {% if cl_ethnicity == 'Other' %} selected {% endif %}>Other</option>
        </select>
    </div>
    <!-- Gender -->
    <div class="text_with_input_container">
        <div>
            Gender
        </div>
        <select name="cl_gender" class="dropdown_design">
            <option {% if cl_gender == 'Female' %} selected {% endif %} value="Female">Female</option>
            <option {% if cl_gender == 'Male' %} selected {% endif %} value="Male">Male</option>
            <option {% if cl_gender== 'Transgendered' %} selected {% endif %} value="Transgendered">Transgendered</option>
            <option {% if cl_gender == 'Unknown' %} selected {% endif %} value="Unknown">Unknown</option>
        </select>
    </div>
    <!-- Marital Status -->
    <div class="text_with_input_container">
        <div>
            Marital Status
        </div>
        <select name="cl_marital" class="dropdown_design">
            <option {% if cl_marital == 'Divorced' %} selected {% endif %} value="Divorced">Divorced</option>
            <option {% if cl_marital == 'Domestic Partnership' %} selected {% endif %} value="Domestic Partnership">Domestic Partnership</option>
            <option {% if cl_marital == 'Married' %} selected {% endif %} value="Married">Married</option>
            <option {% if cl_marital == 'Seperated' %} selected {% endif %} value="Seperated">Seperated</option>
            <option {% if cl_marital == 'Widowed' %} selected {% endif %} value="Widowed">Widowed</option>
        </select>
    </div>
    <!-- Address -->
    <div class="text_with_input_container">
        <div>
            Address
        </div>
        <input name = "cl_address" value="{{cl_address}}" class="text_input_design">
    </div>
    <!-- City -->
    <div class="text_with_input_container">
        <div>
            City
        </div>
        <input name = "cl_city" value="{{cl_city}}" class="text_input_design">
    </div>
    <!-- Zip -->
    <div class="text_with_input_container">
        <div>
            Zip
        </div>
        <input name = "cl_zip" value="{{cl_zip}}" class="text_input_design">
    </div>
    <!-- Telephone -->
    <div class="text_with_input_container">
        <div>
            Telephone
        </div>
        <input name = "cl_phone" value="{{cl_phone}}" class="text_input_design">
    </div>
    <!-- Submit -->
    <br>
    <div class="text_with_input_container">
        <div>           
        </div>
        <button type="submit">Save Data</button>
</form>
</div>
</div>
{% endblock %}