{% extends "framework.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/clientInformation.css">
<link rel="stylesheet" href="../static/framework.css">
{% endblock %}

{% block routes %}
<a href = {{ url_for('consulation', referral_id = referral_id) }} class="individual_case_tab">Consultation</a>
<a href = {{ url_for('client', referral_id = referral_id) }} class="individual_case_tab">Client </a>
<a href = {{ url_for('client_information', referral_id = referral_id) }} class="individual_case_tab">Client Info</a>
<a href = {{ url_for('center_outcomes', referral_id = referral_id) }} class="individual_case_tab">Outcome</a>
<a href = {{ url_for('abuse_info', referral_id = referral_id) }} class="individual_case_tab">Abuse Info</a>
<a href = {{ url_for('abuser', referral_id = referral_id) }} class="individual_case_tab">Abuser</a>
<a href = {{ url_for('narrative', referral_id = referral_id) }} class="individual_case_tab">Narrative</a>
<a href = {{ url_for('notes', referral_id = referral_id) }} class="individual_case_tab">Notes</a>
<a href = {{ url_for('referring_agency', referral_id = referral_id) }} class="individual_case_tab">Referring Agency</a>
<a href = {{ url_for('attachments', referral_id = referral_id) }} class="individual_case_tab">Attachments</a>
<a href = {{ url_for('case_info', referral_id = referral_id) }} class="individual_case_tab">Case Info</a>
{% endblock %}

{% block content %}
<!-- Client Information Banner -->
<div class="client_information_banner_container">
<div class="client_information_banner">Section 3 Client Information</div>
</div>
<form method="POST">
<div class="client_information_container">
        
    <!-- Physician Name -->
    <div class="text_with_input_container">
        <div>
            Physician Name
        </div>
        <textarea class="text_input_design" name="physician_name">{{physican_name}}</textarea>
    </div>
    <!-- Physician Telephone -->
    <div class="text_with_input_container">
        <div>
            Physician Telephone
        </div>
        <input class="text_input_design" name="physician_telephone" value= {{phys_num}}>
    </div>
    <!-- Insurance -->
    <div class="text_with_input_container">
        <div>
            Insurance
        </div>
        <input class="text_input_design" name="insurance" value={{insurance}}>
    </div>
    <!-- Medications and Dosage -->
    <div class="text_with_input_container">
        <div>
            Medications and Dosage
        </div>
        <textarea rows="3" class="text_input_design" name="medication">{{medication}}</textarea>
    </div>
    <!-- Illnesses and Addictions -->
    <div class="text_with_input_container">
        <div>
            Illnesses and Addictions
        </div>
        <textarea rows="3" class="text_input_design" name="illnesses_and_addictions">{{illnesses}}</textarea>
    </div>
    <!-- Physical Functional Status: Appears -->
    <div class="text_with_input_container">
        <div>
            Physical Functional Status: Appears
        </div>
        <select class="dropdown_design" name="func_status">
            <option value="" {% if functional_status == '' %} selected {% endif %} ></option>
            <option value="Intact" {% if functional_status == 'Intact' %} selected {% endif %} >Intact</option>
            <option value="Mildly Impaired" {% if functional_status == 'Mildly Impaired' %} selected {% endif %}>Mildly Impaired</option>
            <option value="Moderately Impaired" {% if functional_status == 'Moderately Impaired' %} selected {% endif %}>Moderately Impaired</option>
            <option value="Severely Impaired" {% if functional_status == 'Severely Impaired' %} selected {% endif %}>Severely Impaired</option>
            <option value="Fluctuating" {% if functional_status == 'Fluctuating' %} selected {% endif %}>Fluctuating</option>
            <option value="Unknown" {% if functional_status == 'Unknown' %} selected {% endif %}>Unknown</option>
        </select>
    </div>
    <!-- Cognitive Functional Status: Appears -->
    <div class="text_with_input_container">
        <div>
            Cognitive Functional Status: Appears
        </div>
        <select  class="dropdown_design" name="cognitive_status", name="cognitive_status">
            <option value="" {% if cognitive_status == '' %} selected {% endif %} ></option>
            <option value="Intact" {% if cognitive_status == 'Intact' %} selected {% endif %} >Intact</option>
            <option value="Mildly Impaired" {% if cognitive_status == 'Mildly Impaired' %} selected {% endif %} >Mildly Impaired</option>
            <option value="Moderately Imparied" {% if cognitive_status == 'Moderately Imparied' %} selected {% endif %}>Moderately Imparied</option>
            <option value="Severely Impaired" {% if cognitive_status == 'Severely Impaired' %} selected {% endif %}>Severely Impaired</option>
            <option value="Fluctuating" {% if cognitive_status == 'Fluctuating' %} selected {% endif %}>Fluctuating</option>
            <option value="Unknown" {% if cognitive_status == 'Unknown' %} selected {% endif %}>Unknown</option>
        </select>
    </div>
    <!-- Living Setting -->
    <div class="text_with_input_container">
        <div>
            Living Setting
        </div>
        <select  class="dropdown_design" name="living_setting">
            <option value="" {% if living_setting == '' %} selected {% endif %} ></option>
            <option value="Assisted Living/ Board & Care" {% if living_setting == 'Assisted Living/ Board & Care' %} selected {% endif %} >Assisted Living/ Board & Care</option>
            <option value="Skilled Nursing Facility" {% if living_setting == 'Skilled Nursing Facility' %} selected {% endif %} >Skilled Nursing Facility</option>
            <option value="Hospital" {% if living_setting == 'Hospital' %} selected {% endif %}>Hospital</option>
            <option value="Non-licensed Facility" {% if living_setting == 'Non-licensed Facility' %} selected {% endif %}>Non-licensed Facility</option>
            <option value="Home - Own" {% if living_setting == 'Home - Own' %} selected {% endif %}>Home - Own</option>
            <option value="Home - Rent" {% if living_setting == 'Home - Rent' %} selected {% endif %}>Home - Rent</option>
        </select>
    </div>
    <!-- Lives With -->
    <div class="text_with_input_container">
        <div>
            Lives With
        </div>
        <select class="dropdown_design" name="lives_with">
            <option value="" {% if lives_with == '' %} selected {% endif %} ></option>
            <option value="Alone" {% if lives_with == 'Alone' %} selected {% endif %} >Alone</option>
            <option value="Spouse" {% if lives_with == 'Spouse' %} selected {% endif %} >Spouse</option>
            <option value="Children" {% if lives_with == 'Children' %} selected {% endif %}>Children</option>
            <option value="Other family" {% if lives_with == 'Other family' %} selected {% endif %}>Other family</option>
            
        </select>
    </div>
    <!-- Other(describe) -->
    <div class="text_with_input_container">
        <div>
            Other (describe)
        </div>
        <textarea class="text_input_design" name="other_describe">{{lives_with_desc}}</textarea>
    </div>
    <!-- Previous Reports of Abuse -->
    <div class="text_with_input_container">
        <div>
            Previous Reports of Abuse
        </div>
        <div class="previous_reports_container">
            <div class="radio_button_adjust">
                <input type="checkbox" id="html" name="previous_abuse_no" value="HTML" {% if prev_abuse_no == 1 %} checked {% endif %}>
                <label for="html">No</label><br>
            </div>
            <div class="radio_button_adjust">
                <input type="checkbox" id="html" name="previous_abuse_yes" value="HTML" {% if prev_abuse_yes == 1 %} checked {% endif %}>
                <label for="html">Yes</label><br>
            </div>
            <div>if Yes then explain</div>
            <textarea name="previous_abuse_explain" rows="3" cols="50" class="text_input_design">{{prev_abuse_desc}}</textarea>

            <div></div>
        </div>

    </div>
    <!-- Multiple Alleged Suspects -->
    <div class="text_with_input_container">
        <div>
            Multiple Alleged Suspects
        </div>
        <div>
            <input name="multiple_alleged_suspects" type="checkbox" class="radio_button_adjust" {% if multiple_suspects == 1 %} checked {% endif %}>
        </div>
    </div>
</div>
</div>
<button>this is the button</button>
</form>
{% endblock %}

{% block content2 %}
<div>oh yeah it's working now</div>
{% endblock %}