{% extends "framework.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/consulation.css">
<link rel="stylesheet" href="../static/framework.css">
{% endblock %}



{% block content %}
<div class="consulation_container">
    <!-- Consulation information -->

    <div >
        <table>
            <tr >
                <td>     
                    <label class = "checkbox-inline">
                        <input type = "checkbox" value = "">Adult/Protective Services
                    </label>
                </td>
                <td>
                    <label class = "checkbox-inline">
                        <input type = "checkbox" value = "">GENESIS
                     </label>
                </td>
                <td>
                    <label class = "checkbox-inline">
                        <input type = "checkbox" value = "">D.A.
                     </label>
                </td>
                <td>
                    <label class = "checkbox-inline">
                        <input type = "checkbox" value = "">Regional center
                     </label>
                </td>
            </tr>

            <tr>
                <td>     
                <label class = "checkbox-inline">
                    <input type = "checkbox" value = "">Corner/ME
                 </label>
                </td>
                <td>
                    <label class = "checkbox-inline">
                        <input type = "checkbox" value = "">Law Enforcement
                     </label>
                </td>
                <td>
                    <label class = "checkbox-inline">
                        <input type = "checkbox" value = "">Attorney other
                     </label>
                </td>
                <td>
                    <label class = "checkbox-inline">
                        <input type = "checkbox" value = "">Psychologist
                     </label>
                </td>
            </tr>
            <tr>
                <td>     
                <label class = "checkbox-inline">
                    <input type = "checkbox" value = "">Medical Practitioner
                 </label>
                </td>
                <td>
                    <label class = "checkbox-inline">
                        <input type = "checkbox" value = "">Ombudsman
                     </label>
                </td>
                <td>
                    <label class = "checkbox-inline">
                        <input type = "checkbox" value = "">Public Guardian
                     </label>
                </td>

            </tr>
        </table>
        

    </div>
    <br>

    <!--  Other(Describe) -->
    <div class="text_with_input_container">
        <div>
            Other(Describe)
        </div>
    </div>
    <div>
        <textarea name="w3review" rows="3" cols="50" class="text_input_design"></textarea>
    </div>
    <br>
    <!-- Reason case was Submitted for Consulation -->
    <div class="text_with_input_container">
        <div>
            Reason case was Submitted for Consulation
        </div>
    </div>
    <div class="text_with_input_container">
        <select name="selectName" class="dropdown_design" >
        <option value="Value1">Menu Label</option>
        <option value="Value1">Menu Label</option>
        <option value="Value1">Menu Label</option>
        <option value="Value1">Menu Label</option>
        </select>
    </div>
</div>
{% endblock %}