<!doctype html>
<html>


<head>
    <div class = "noPrint">
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='clientInformation.css') }}">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
    </div>
</head>

<body>
    <div>
        <div class = "noPrint">
            <div class="title">Forensic Center Database</div>
        </div>
        
        <div class="header_container">          
            <div class = "noPrint">
                <div class="referral_information_bar">
                    <div class="referral_information">Referral Information</div>
                    <div>
                        <a href=case_summary ><button class="case_summary_button" >Case Summary</button></a>
                        <button class="save_record_button">Save Records</button>
                    </div>
                </div>
            </div>

            <div class = "noPrint">
                <div class="status_container">
                    <!-- urgent status -->
                    <div class="checkbox_with_label">
                        <div>Case Status</div>
                        <input type="checkbox">
                    </div>
                    <!-- Routine Status -->
                    <div class="checkbox_with_label">
                        <div>Routine Status</div>
                        <input type="checkbox">
                    </div>
                    <!-- Case Closed -->
                    <div class="checkbox_with_label">
                        <div>Case Closed</div>
                        <input type="checkbox">
                    </div>
                    <!-- Case Date -->
                    <div class="checkbox_with_label">
                        <div>Case Date</div>
                        <input class="text_input" type="text">
                    </div>
                    <!-- Case Number -->
                    <div class="checkbox_with_label">
                        <div>Case Number</div>
                        <input class="text_input" type="text">
                    </div>
                </div>
            </div>
            <div class = "noPrint">
                <div class="case_tabs">
                    <a href="{{ url_for('consulation') }}" class="individual_case_tab">Consultation</a>
                    <a href="{{ url_for('referring_agency') }}" class="individual_case_tab">Referring Agency</a>
                    <a href="/" class="individual_case_tab">Client</a>
                    <a href="{{ url_for('client_information') }}" class="individual_case_tab">Client Info </a>
                    <a href="/" class="individual_case_tab">Abuser(s) </a>
                    <a href="/" class="individual_case_tab">Abuser Info </a>
                    <a href="{{ url_for('notes') }}" class="individual_case_tab">Notes </a>
                    <a href="{{ url_for('narrative') }}" class="individual_case_tab">Narrative </a>
                    <a href="{{ url_for('center_outcomes') }}" class="individual_case_tab">Outcome </a>
                    <a href="/" class="individual_case_tab">Attachments </a>
                </div>
            </div>
            

            <!-- can supply your new view in the div below -->
            <div class="different_views">{% block content %}{% endblock %}</div>

        </div>

        <div class = "noPrint">
            <div class="sidebar_container">
                <a href="/" class="flexbox_item">Main</a>
                <a href="/" class="flexbox_item">New Record</a>
                <a href="/" class="flexbox_item">Reports</a>
                <a href="/" class="flexbox_item">Import Form</a>
                <a href="/" class="flexbox_item">Full Database Export</a>
                <a href="/" class="flexbox_item">Deidentified Export</a>
                <a href="{{ url_for('search_cases') }}" class="flexbox_item">Search</a>
                <a href="/" class="flexbox_item">Search by presenter</a>
                <a href="/" class="flexbox_item">Search by Suspect</a>
                <a href="/" class="flexbox_item">Agency Attendance</a>
                <a href="/" class="flexbox_item">Case Status</a>
                <a href="/" class="flexbox_item">Center Roster</a>
            </div>
        </div>
        
    </div>
</body>

</html>
