<!doctype html>
<html>


<head>
    <div class = "noPrint">
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='clientInformation.css') }}">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
    </div>
</head>

<body>
    <div>
        <div class = "noPrint">
            <div class="title">Forensic Center Database</div>
        </div>
        
        <div class="header_container">          
            <div class = "noPrint">
                <div class="referral_information_bar">
                    <div class="referral_information">Referral Information</div>
                    <div>
                        {% if searchCase %}
                            <a href={{ url_for('case_summary', referral_id = referral_id) }}  ><button class="case_summary_button" >Case Summary</button></a>
                        {% else %}
                            <button class="case_summary_button" >Case Summary</button>
                        {% endif %}
                        
                        <button class="save_record_button">Save Records</button>
                    </div>
                </div>
            </div>

            <div class = "noPrint">
                <div class="status_container">
                    <!-- urgent status -->
                    <div class="checkbox_with_label">
                        <div>Urgent Status</div>
                        {% if bar_urgentstatus %}
                            <input type="checkbox" onclick="return false" class="checkbox" checked > 
                        {% else %}
                            <input type="checkbox" onclick="return false" class="checkbox"  >
                        {% endif %}
                    </div>
                    <!-- Routine Status -->
                    <div class="checkbox_with_label">
                        <div>Routine Status</div>
                        {% if bar_routinestatus %}
                            <input type="checkbox" onclick="return false" class="checkbox" checked > 
                        {% else %}
                            <input type="checkbox" onclick="return false" class="checkbox"  >
                        {% endif %}
                    </div>
                    <!-- Case Closed -->
                    <div class="checkbox_with_label">
                        <div>Case Closed</div>
                        {% if bar_caseclosed %}
                            <input type="checkbox" onclick="return false" class="checkbox" checked > 
                        {% else %}
                            <input type="checkbox" onclick="return false" class="checkbox"  >
                        {% endif %}
                    </div>
                    <!-- Case Date -->
                    <div class="checkbox_with_label">
                        <div>Case Date</div>                      
                        
                        {% if bar_date %}
                            <input class="text_input" type="text" disabled value="{{bar_date}}"">
                        {% else %} 
                            <input class="text_input" type="text" disabled value="---- - -- - --">
                        {% endif %}
                        <!-- <output class="text_output_design"></output> -->
                        
                        
                    </div>
                    <!-- Case Number -->
                    <div class="checkbox_with_label">
                        <div>Case Number</div>
                        <!-- <input class="text_input" type="text"> -->
                        {% if bar_case_number %}
                            <input class="text_input" type="text" disabled value="{{bar_case_number}}"">
                        {% else %} 
                            <input class="text_input" type="text" disabled value="----">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class = "noPrint">
                <div class="case_tabs">
                    
                    {% block routes %}{% endblock %}
    
                </div>
            </div>
            

            <!-- can supply your new view in the div below -->
            <div class="different_views">{% block content %}{% endblock %}</div>

        </div>

        <div class = "noPrint">
            <div class="sidebar_container">
                <a href="/" class="flexbox_item">Main</a>
                <a href="{{ url_for('import_case') }}" class="flexbox_item">New Record</a>
                <a href="/" class="flexbox_item">Reports</a>
                <a href="{{ url_for('import_case') }}" class="flexbox_item">Import Form</a>
                <a href="/" class="flexbox_item">Full Database Export</a>
                <!-- <a href="/" class="flexbox_item">Deidentified Export</a> -->
                <a href="{{ url_for('search_cases') }}" class="flexbox_item">Search</a>
                <!-- <a href="/" class="flexbox_item">Search by presenter</a>
                <a href="/" class="flexbox_item">Search by Suspect</a> -->
                <!-- <a href="/" class="flexbox_item">Agency Attendance</a> -->
                <a href="/" class="flexbox_item">Case Status</a>
                <!-- <a href="/" class="flexbox_item">Center Roster</a> -->
                <a href="{{ url_for('import_excel') }}" class="flexbox_item">Import Excel</a>
            </div>
        </div>
        
    </div>
</body>

</html>
