{% extends "framework.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/notes.css">
<link rel="stylesheet" href="../static/framework.css">
{% endblock %}
{% block content %}

<!--  Click choose file to upload-->
<div class="client_information_container">
    <div class="text_with_input_container">
        <h1>File Upload</h1>
        <form method="POST" action="" enctype="multipart/form-data">
          <p><input type="file" name="file"></p>
          <!-- <p><input type="submit" name="check_excel" value="Check Format"></p> -->
          <p><input type="submit" value="Insert"></p>
        </form>
        {% if show_results == 1 %}
        <!-- {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class=flashes>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %} -->
        <pre style="color: #ff0000"><b>{{content}}</b></pre>
        {% endif %}
    </div> 
    <!-- <form action="/insert_excel" method="post">
      <button name="insert_excel" type="submit">Insert</button>
  </form> -->
</div>
<div class="client_information_container">
  <div class="text_with_input_container">
  <form action="/import_excel/" method="post">
    {% if show_results == 3 %}
    <pre style="color: #ff0000"><b>{{content}}</b></pre>
    {% endif %}
    {% if show_results == 2 %}
      {{ forward_message }} 
      <br>
      <h2> GOAL</h2>
      <br>
      <pre>{{ goals_res.to_html(classes="table table-striped") | safe }} </pre>
      <br>
      <h2>Recommendation</h2>
      <pre>{{ rec_res.to_html(classes="table table-striped") | safe }} </pre>
      <h2>Suspect</h2>
      <br>
      <pre>{{suspect_res.to_html(classes="table table-striped")|safe }}</pre>
      <h2>Meeting_Notes</h2>
      <br>
      <pre>{{meeting_res.to_html(classes="table table-striped")|safe }}</pre>
      <h2>Clients</h2>
      <br>
      <pre>{{clients_res.to_html(classes="table table-striped")|safe }}</pre>
      <h2>Abuse</h2>
      <br>
      <pre>{{abuse_res.to_html(classes="table table-striped")|safe }}</pre>
      <h2>Outcome</h2>
      <br>
      <pre>{{outcome_res.to_html(classes="table table-striped")|safe }}</pre>
      <h2>Consultation</h2>
      <br>
      <pre>{{consultation_res.to_html(classes="table table-striped")|safe }}</pre>
      <h2>Referring Agency</h2>
      <br>
      <pre>{{referring_res.to_html(classes="table table-striped")|safe }}</pre>
      
  </form>
  {% endif %}
  </div>
</div>
{% endblock %}
