{% extends "framework.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/notes.css">
<link rel="stylesheet" href="../static/framework.css">
{% endblock %}
{% block content %}
<div class="client_information_container">
    <div class="text_with_input_container">
    <form action="/insert_excel/" method="post">
        {{ forward_message }} 
        <br>
        <h2> GOAL</h2>
        <br>
        <pre>{{ goals_res.to_html(classes="table table-striped") | safe }} </pre>
        <br>
        <h2>Recommendation</h2>
        <pre>{{ rec_res.to_html(classes="table table-striped") | safe }} </pre>
        <h2>Suspect</h2>
        <br>
        <pre>{{suspect_res.to_html(classes="table table-striped")|safe }}</pre>
        <h2>Meeting_Notes</h2>
        <br>
        <pre>{{meeting_res.to_html(classes="table table-striped")|safe }}</pre>
        <h2>Clients</h2>
        <br>
        <pre>{{clients_res.to_html(classes="table table-striped")|safe }}</pre>
    </form>
    </div>
</div>
{% endblock %}