{% extends "framework.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/narrative.css">
<link rel="stylesheet" href="../static/framework.css">
{% endblock %}

{% block routes %}
<a href = {{ url_for('consulation', referral_id = referral_id) }} class="individual_case_tab">Consultation</a>
<a href = {{ url_for('client', referral_id = referral_id) }} class="individual_case_tab">Client </a>
<a href = {{ url_for('client_information', referral_id = referral_id) }} class="individual_case_tab">Client information</a>
<a href = {{ url_for('center_outcomes', referral_id = referral_id) }} class="individual_case_tab">Outcome</a>
<a href = {{ url_for('abuse_info', referral_id = referral_id) }} class="individual_case_tab">Abuse Info</a>
<a href = {{ url_for('abuser', referral_id = referral_id) }} class="individual_case_tab">Abuser</a>
<a href = {{ url_for('narrative', referral_id = referral_id) }} class="individual_case_tab">Narrative</a>
<a href = {{ url_for('notes', referral_id = referral_id) }} class="individual_case_tab">Notes</a>
<a href = {{ url_for('referring_agency', referral_id = referral_id) }} class="individual_case_tab">Referring Agency</a>
<a href = {{ url_for('attachments', referral_id = referral_id) }} class="individual_case_tab">Attachments</a>
<a href = {{ url_for('case_info', referral_id = referral_id) }} class="individual_case_tab">Case Info</a>
{% endblock %}

{% block content %}
<div class="client_information_banner_container">
    <div class="client_information_banner">Narrative</div>
</div>
<!--  Narrative -->
<form method="POST">
<div class="client_information_container">
    <div class="text_with_input_container">
        <div>
            Case Narrative
        </div>
        <br>
        <br>
        <div class="textarea_container">
            <div>
                <textarea name="oc_narrative" rows="20" cols="100">{{oc_narrative}}</textarea>
            </div>
        </div>
    </div>
    <br>
    <!--  button -->
    <div class="button_container">
        <div class="center">
            <input class="blue_button" type="submit" value="Save" >
            <button button onclick="window.print()" class = "blue_button">Print</button>
        </div>
    </div>

</div>
</div>
</form>

{% endblock %}
