{% extends "framework.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/narrative.css">
<link rel="stylesheet" href="../static/framework.css">
{% endblock %}
{% block content %}
<div class="client_information_banner_container">
    <div class="client_information_banner">Section - Narrative</div>
</div>
<!--  Narrative -->
<form method="POST">
<div class="client_information_container">
    <div class="text_with_input_container">
        <div>
            Case Narrative
        </div>
        <br>
        <br>
        <div class="textarea_container">
            <div>
                <textarea name="oc_narrative" rows="20" cols="100">{{oc_narrative}}</textarea>
            </div>
        </div>
    </div>
    <br>
    <!--  button -->
    <div class="button_container">
        <div class="center">
            <input class="blue_button" type="submit" value="Save" >
            <button class="blue_button">Print</button>
        </div>
    </div>

</div>
</div>
</form>

{% endblock %}
