{% extends "framework.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/notes.css">
<link rel="stylesheet" href="../static/framework.css">
{% endblock %}

{% block routes %}
<a href = {{ url_for('consulation', referral_id = referral_id) }} class="individual_case_tab">consultation</a>
<a href = {{ url_for('client', referral_id = referral_id) }} class="individual_case_tab">client </a>
    <a href = {{ url_for('client_information', referral_id = referral_id) }} class="individual_case_tab">client information</a>
    <a href = {{ url_for('center_outcomes', referral_id = referral_id) }} class="individual_case_tab">outcome</a>
    <a href = {{ url_for('abuse_info', referral_id = referral_id) }} class="individual_case_tab">abuse info</a>
    <a href = {{ url_for('abuser', referral_id = referral_id) }} class="individual_case_tab">abuser</a>
    <a href = {{ url_for('narrative', referral_id = referral_id) }} class="individual_case_tab">narrative</a>
{% endblock %}

{% block content %}
<style>
    #notes {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    #notes td, #notes th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    #notes tr:nth-child(even){background-color: white;}
    #notes th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      
      background-color: white;;
      color:black;
    }
</style>
<div class="client_information_banner_container">
    <div class="client_information_banner">Section - Notes</div>
</div>
<!--  Notes-->
<form method="POST">
<div class="client_information_container">
    <div class="text_with_input_container">
        <div>
           Meeting/Case Notes
            <!--  button -->
            <button class="blue_button">Add Notes</button>
        </div>
        <br>
        <br>
    <br>
    <table id="notes">
        <tr>
          <th >Presenter/Update by <input type="text" id="presenter" name="presenter" value={{presenter}}></th>
          <th>Date <input type="text" id="meeting_date" name="meeting_date" value = {{meeting_date}}></th>
          
        </tr>
        <tr>
          <td colspan="2"><textarea name="meeting_notes" rows="10" cols="100" >{{meeting_notes}}</textarea >
          </td>
        </tr>
      </table>
    </div>
    <div class="text_with_input_container">
        <div>
           Goals
            <!--  button -->
            <button class="blue_button">Add Goals</button>
        </div>
        <br>
        <br>

        <table id="notes">
            <tr>
              <th ><textarea name="goals" rows="3" cols="100" >{{goals}}</textarea ></th>
            </tr>
          </table>
    </div>
    <div class="text_with_input_container">
        <div>
           Recommendation Actions
            <!--  button -->
            <button class="blue_button">Add Actions</button>
        </div>
        <br>
        <br>
        <table id="notes">
            <tr>
              <th>Action Step</th>
              <th>Person Responsible</th>
              <th>Follow up Date</th>
              <th>Status</th>
            </tr>
            <tr>
              <th ><textarea name="action_step" rows="3" cols="22" >{{action_step}}</textarea ></th>
              <th><textarea name="person_response" rows="3" cols="22" >{{person_response}}</textarea ></th>
              <th><textarea name="follow_up" rows="3" cols="22">{{follow_up}}</textarea ></th>
              <th><textarea name="status" rows="3" cols="22" >{{status}}</textarea ></th>
            </tr>
          </table>

    </div>  
          <!--  button -->
          <div class="button_container">
            <div class="center">
                <input class="blue_button" type="submit" value="Save" >
            </div>
          </div>
</div>

</form>

{% endblock %}