{% extends "framework.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/searchCases.css">
<link rel="stylesheet" href="../static/framework.css">
{% endblock %}
{% block content %}


    
    <div class="container" >
        <div class="outer_of_header">
            <div class = "text_header">
                Cases
            </div>
        </div>
        <br>
        <br>

        <form action="{{ url_for("search_cases")}}" method="post">
            <!-- {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              <ul class=flashes>
              {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}  -->
          
            <div class="text_with_input_container">
                <div>
                    Search By
                </div>
                <select name="searchType" id="searchType">
                    <option {% if searchType == 'client' %} selected {% endif %} value="client" >Client</option>
                    <option {% if searchType == 'presenter' %} selected {% endif %} value="presenter" >Presenter</option>
                    <option {% if searchType == 'suspect' %} selected {% endif %} value="suspect" >Suspect</option>
                    
                </select>
            </div>
    
    
            <div class="row">
                <div class="column">
                    <div class="text_with_input_container">
                        <div>
                            First Name
                        </div>
                        <input name = "FirstName" value ="{{firstName}}" class="text_input_design">
                    </div>
                </div>
                <div class="column">
                    <div class="text_with_input_container">
                        <div>
                            Last Name
                        </div>
                        <input name = "LastName" value="{{lastName}}" class="text_input_design">
                        </div>
                </div>
            </div>
    
            <br>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="column">
                    <div class="text_with_input_container">
                        <div>
                            Search Closed Cases
                        </div>
                        <div>
                            <input type="checkbox" name = "closedCased"  class="radio_button_adjust" {% if closedCase == 1 %} checked {% endif %}>
                        </div>
                    </div>
                    <div class="text_with_input_container">
                        <div>
                            Number of Records:
                        </div>
                        <output name = "suspectname">{{number}}</output>
                    </div>
                </div>
                <div class="column300">   
                    <button class = "button" name = "searchButton" type="submit" >Search SQL</button> 
                </div>
            </div>
            <div class = "outer_of_header">
                <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/> -->
                
                {% if result%}
                    {% if searchType == 'client' %}
                    <div class="row">
                        <div class="column column_search">
                            <table class="table_record table-hover">
                                <tbody>
                                  <td>Case No</td>
                                  <td>Client First Name</td>
                                  <td>Client Last Name</td>
                                  <td>Case Date</td>
                                  {% for r in result %}
                                      <tr onclick="window.open('{{r.link}}' + location.search) ">                        
                                          <td>{{r.case_number}}</td>
                                          <td>{{r.cl_name_first}}</td>
                                          <td>{{r.cl_name_last}}</td>
                                          <td>{{r.case_date}}</td>
                                          <!-- <td><button >Delete</button></td> -->
                                      </tr>
                                  {% endfor %}
                          
                                </tbody>
                              </table>
                        </div>
                        <div class="column column_button">
                           
                                <table class="table_button">
                                    <tbody>
                                      <td></td>
                                      {% for r in result %}
                                          <tr >                        
                                            <td><button type="submit" name = "deleteButton" value="{{r.referral_id}}">Delete</button></td>
                                              <!-- <td>Delete</td> -->
                                          </tr>
                                      {% endfor %}
                              
                                    </tbody>
                                  </table>
                        </div>
                    </div>
                    {% elif searchType == 'presenter' %}
                    <div class="row">
                        <div class="column column_search">
                            <table class="table_record table-hover">
                                <tbody>
                                  <td>Case No</td>
                                  <td>Client First Name</td>
                                  <td>Client Last Name</td>
                                  <td>Case Date</td>
                                  <td>Presenter FN</td>
                                  <td>Presenter LN</td>
                                  {% for r in result %}
                                      <tr onclick="window.open('{{r.link}}' + location.search) ">                        
                                          <td>{{r.case_number}}</td>
                                          <td>{{r.cl_name_first}}</td>
                                          <td>{{r.cl_name_last}}</td>
                                          <td>{{r.case_date}}</td>
                                          <td>{{r.presenter_name_first}}</td>
                                          <td>{{r.presenter_name_last}}</td>
                                          <!-- <td><button >Delete</button></td> -->
                                      </tr>
                                  {% endfor %}
                          
                                </tbody>
                              </table>
                        </div>
                        <div class="column column_button">
                           
                                <table class="table_button">
                                    <tbody>
                                      <td></td>
                                      {% for r in result %}
                                          <tr >                        
                                            <td><button type="submit" name = "deleteButton" value="{{r.referral_id}}">Delete</button></td>
                                              <!-- <td>Delete</td> -->
                                          </tr>
                                      {% endfor %}
                              
                                    </tbody>
                                  </table>
                        </div>
                    </div>
                    {% elif searchType == 'suspect' %}
                    <div class="row">
                        <div class="column column_search">
                            <table class="table_record table-hover">
                                <tbody>
                                  <td>Case No</td>
                                  <td>Client First Name</td>
                                  <td>Client Last Name</td>
                                  <td>Case Date</td>
                                  <td>Suspect FN</td>
                                  <td>Suspect LN</td>
                                  {% for r in result %}
                                      <tr onclick="window.open('{{r.link}}' + location.search) ">                        
                                          <td>{{r.case_number}}</td>
                                          <td>{{r.cl_name_first}}</td>
                                          <td>{{r.cl_name_last}}</td>
                                          <td>{{r.case_date}}</td>
                                          <td>{{r.suspect_name_first}}</td>
                                          <td>{{r.suspect_name_last}}</td>
                                          <!-- <td><button >Delete</button></td> -->
                                      </tr>
                                  {% endfor %}
                          
                                </tbody>
                              </table>
                        </div>
                        <div class="column column_button">
                           
                                <table class="table_button">
                                    <tbody>
                                      <td></td>
                                      {% for r in result %}
                                          <tr >                        
                                            <td><button type="submit" name = "deleteButton" value="{{r.referral_id}}">Delete</button></td>
                                              <!-- <td>Delete</td> -->
                                          </tr>
                                      {% endfor %}
                              
                                    </tbody>
                                  </table>
                        </div>
                    </div>
                    {% endif %}
                
                {% endif %}
                
                
    
                
            </div>
        </form>
        
        <br>
        <div>
        
        
        
        </div>
        

        
    </div>
</div>


{% endblock %}